# comment
script = "guile"
main_file = "init.scm"
game_file = "game.scm"
game_loop_function = "game_loop"
#modules = 
#{
#    graphics = 
#    {
#        window_title = "chess", 
#        window_width = 800, 
#        window_height = 600
#    },
#    events = 
#    {
#    },
#    gui = 
#    {
#    }
#
#}
debug_mode = true

#add_command gge_graphics 0 0
