#pragma once
[% FOR include IN includes %]
[% include -%]
[% END %]

[% gge_specific %]

class [% class_name %][%- IF parent -%]: public [% parent %][%- END -%]
{
	public:
		[% constructor %]
		[%- FOR f IN functions.keys -%]
		[% functions.$f %]
		[%- END -%]
	private:
		[%- FOR m IN members -%]
		[% m %];
		[%- END -%]
};
