[% FOR key IN modules.keys %]
[%-
module = modules.$key
class_name = modules.$key.class_name
module_enum = modules.$key.gge_module_name 
commands = modules.$key.commands
%]
case [% module_enum -%]:
	_commands.push_back(
			make_shared<[%- class_name -%]>(m
			[%- IF commands -%]
			, [%- commands -%]
			[%- END -%]
			));
	break;
	[%- END -%]
